@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other content */
  margin: auto; /* Center modal */
}

.large-modal {
  max-width: 1400px; /* Larger width for bigger modals */
  width: 90%; /* You can adjust the percentage width if needed */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent overlay */
  z-index: 999; /* Behind the modal */
}

.absolute {
  padding: 10px; /* Add padding to the overlay */
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

.hover\:bg-opacity-75:hover {
  background-opacity: 0.75; /* Adjust hover effect for visibility */
}

h2 {
  text-align: center;
}

img {
  border-radius: 0.5rem; /* Rounded corners for images */
}

.scrollable-content {
  max-height: 240px; /* You can adjust this value */
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}

.bold-text {
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

.two-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Space between columns */
}

.three-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Space between columns */
}

ul {
  padding-left: 20px; /* Optional: adjust padding to fit your design */
}

h3 {
  font-weight: bold;
  color: grey;
}

.bullet-list-square {
  list-style-type: square; /* Change bullet style */
  padding-left: 20px; /* Optional: adjust padding */
}

.bullet-list-disc {
  list-style-type: disc; /* Change bullet style */
  padding-left: 20px; /* Optional: adjust padding */
}

.running-text {
  width: 100%; /* Make sure it takes full width */
  overflow: hidden; /* Hide any overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  position: relative; /* Needed for absolute positioning of the text */
}

.running-text p {
  display: inline-block; /* Allow the text to be inline */
  animation: runText 10s linear infinite; /* Animation properties */
  position: absolute; /* Positioning for the animation */
}

@keyframes runText {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* End at the left */
  }
}

.glow-text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6),
               0 0 30px rgba(255, 255, 255, 0.4);
}